<%= form_for(@approval_form, url: approvals_path(@approval), html: { class: 'form' }) do |f| %>
  <div class='section'>
    <h3><%= @approval_form.request_emp_transaction.kind.titleize %> Approval Request</h3>
    <p>Requested By: <%= @approval_form.request_transaction.user.employee.cn %></p>
    <p>Requested On: <%= @approval_form.approval.requested_at %></p>
  </div>
  <div class='section'>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>
  <div class='section'>
    <%= f.button :submit, 'Approve', value: 'approved' %>
    <%= f.button :submit, 'Reject', value: 'rejected' %>
    <%= f.button :submit, 'Request Changes', value: 'request_changes' %>
  </div>
<% end %>
