<%= image_tag attachments['techtable.png'].url -%>
<div style="font-family: helvetica; margin: 25px; width: 550px">
  <p>You have an employee event form awaiting your action for:</p>

  <p style="margin-left: 2em">
    <strong>Name:</strong>
    <%= @employee.cn %>
  </p>

  <p style="margin-left: 2em">
    <strong>Title:</strong>
    <%= @employee.job_title.try(:name) %>
  </p>

  <p style="margin-left: 2em">
    <strong>Department:</strong>
    <%= @employee.department.name %>
   </p>

  <p style="margin-left: 2em">
    <strong>Location:</strong>
    <%= @employee.location.name %>
  </p>

  <% if @kind == "Security Access" %>
    <% if @employee.emp_deltas.important_changes.present? %>
      <p>You are receiving this form because you are listed as the manager of <%= @employee.cn %>, who may need a security profile update because the following information changed on <strong><%= @employee.emp_deltas.important_changes.last.created_at.try(:strftime, "%b %e, %Y") %></strong>:</p>
        <% @employee.emp_deltas.important_changes.last.format_by_key.each do |e| %>
          <p><%= e['name'] %> changed from <%= e['before'] %> to <%= e['after'] %></p>
        <% end %>
      <p><i>If you do not wish to make any changes, you may disregard this email.</i></p>
    <% end %>
  <% elsif @kind == "Onboarding" %>
    <p>
      <strong style="color: red; text-decoration: underline">
        You must complete this form by <%= @employee.onboarding_due_date.try(:strftime, "%b %e, %Y") %>.
      </strong>
    </p>
    <p>
      The onboarding form is necessary to have your new hire’s equipment and access ready for their first day. Please fill it out as soon as possible so that we can provide the best possible onboarding experience.
    </p>
  <% elsif @kind == "Offboarding" %>
    <p>
      <strong style="color: red; text-decoration: underline">
        You must complete this form by noon on <%= @employee.termination_date.strftime("%b %e, %Y") %>.
      </strong>
    </p>
  <% end %>

  <p>Please note you must be logged into the OpenTable VPN to access Mezzo. Use your OpenTable user name and password to log in. Follow the link below to complete the employee event form:</p>
  <% if @event.present? %>
    <p style="margin-left: 2em"><%= link_to "Employee Event Form for #{@employee.cn}", new_emp_transaction_url({
      :user_emp_id => @manager.employee_id,
      :event_id => @event.id,
      :kind => @kind}) %></p>
  <% else %>
    <p style="margin-left: 2em"><%= link_to "Employee Event Form for #{@employee.cn}", new_emp_transaction_url({
      :user_emp_id => @manager.employee_id,
      :employee_id => @employee.id,
      :kind => @kind}) %></p>
  <% end %>


  <p>For any questions, please contact <%= mail_to "othelpme@opentable.com" %>.</p>
</div>
