<%= image_tag attachments['techtable.png'].url -%>
<div style="font-family: helvetica; margin: 25px; width: 550px">
  <p>You have an employee event form awaiting your action for:</p>

  <p style="margin-left: 2em">
    <strong>Name:</strong>
    <%= @employee.cn %>
  </p>

  <p style="margin-left: 2em">
    <strong>Title:</strong>
    <%= @employee.job_title.try(:name) %>
  </p>

  <p style="margin-left: 2em">
    <strong>Department:</strong>
    <%= @employee.department.name %>
   </p>

  <p style="margin-left: 2em">
    <strong>Location:</strong>
    <%= @employee.location.name %>
  </p>


  <% if @kind == "Onboarding" %>
    <p>
      <strong style="color: red; text-decoration: underline">
        You must complete this form by <%= @employee.onboarding_due_date %>.
      </strong>
    </p>

    <p>
      <strong style="color: red">Submissions after the due date may cause your employee’s access to be compromised and delayed.</strong>
    </p>
  <% end %>

  <% if @kind == "Offboarding" %>
    <p>
      <strong style="color: red; text-decoration: underline">
        You must complete this form by <%= @employee.termination_date.strftime("%b %e, %Y") %>.
      </strong>
    </p>
  <% end %>

  <p>Please note you must be logged into the OpenTable VPN to access Mezzo. Use your OpenTable user name and password to log in. Follow the link below to complete the employee event form:</p>
  <p style="margin-left: 2em"><%= link_to "Employee Event Form for #{@employee.cn}", new_emp_transaction_url({
    :user_emp_id => @manager.employee_id,
    :employee_id => @employee.id,
    :kind => @kind}) %></p>


  <p>For any questions, please contact <%= mail_to "othelpme@opentable.com" %>.</p>
</div>
