<div style="font-family: helvetica;">
  <h1>Upcoming Offboard Notice</h1>

  <p>
    <strong>Termination Date:</strong>
    <%= l @employee.termination_date, format: :verbose %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @employee.cn %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @employee.email %>
  </p>

  <p>
    <strong>EmployeeID:</strong>
    <%= @employee.employee_id %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= @employee.department.name %>
   </p>

  <p>
    <strong>Location:</strong>
    <%= @employee.location.name %>
   </p>

  <p>
    <strong>Manager:</strong>
    <%= @manager.first_name %> <%= @manager.last_name %>
  </p>

  <p>
    <strong>Manager Email:</strong>
    <%= @manager.email %>
  </p>

  <% if @employee.location.kind == "Remote Location" %>
    <p><strong>Employee location is listed as remote.</strong></p>
    <p><strong>Retrieve equipment from:</strong></p>
    <% if @employee.home_address_1.present? %>
      <p style="margin-left: 2em">Address 1: <%= @employee.home_address_1 %></p>
      <p style="margin-left: 2em">
        Address 2: <%= @employee.home_address_2 if @employee.home_address_2.present? %>
      </p>
      <p style="margin-left: 2em">
        City: <%= @employee.home_city if @employee.home_city.present? %>
      </p>
      <p style="margin-left: 2em">
        State: <%= @employee.home_state if @employee.home_state.present? %>
      </p>
      <p style="margin-left: 2em">
        Zip: <%= @employee.home_zip if @employee.home_zip.present? %>
      </p>
    <% else %>
      <p>Employee is working from a remote location, but does not have an address on file in Mezzo. Please contact People and Culture for the employee's shipping address if it is needed for equipment retrieval.</p>
    <% end %>
  <% end %>

  <p>
  <strong>Current Active Security Profiles:</strong>
  </p>

  <div style="margin-left: 2em">
    <% @employee.active_security_profiles.each do |sp| %>
      <div>
        <%= sp.name %><br>
        <ul>
          <% sp.access_levels.find_each do |al| %>
            <li style="margin-left: 2em"><small><%= al.name %> <%= al.application.name %></small></li>
            <% if Application::AUTOMATED_OFFBOARDS.include? al.application.name or al.application.ad_controls? %>
              <p style="margin-left: 2em; color: limegreen;">No further action needed.</p>
            <% end %>
            <% if al.application.dependency.present? %>
              <p style="margin-left: 2em; color: red;"><%= al.application.dependency %></p>
            <% end %>
            <% if al.application.offboard_instructions.present? %>
              <p style="margin-left: 2em; color: red;"><%= al.application.offboard_instructions %></p>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

</div>
