<div style="font-family: helvetica;">
  <h1>Mezzo Automatic Offboarding Status</h1>

  <p>
    <strong>Termination Date:</strong>
    <%= @employee.termination_date.strftime("%b %e, %Y") %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @employee.cn %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @employee.email %>
  </p>

  <p>
    <strong>EmployeeID:</strong>
    <%= @employee.employee_id %>
  </p>

  <p>
    <strong>Automatic Account Offboarding Status:</strong>
  </p>
  <div style="margin-left: 2em">
    <% @employee.emp_access_levels.each do |al| %>
      <p style="margin-left: 2em"><%= AccessLevel.find(al.access_level_id).name %></p>
      <p style="margin-left: 2em">Active: <%= al.active %></p>
    <% end %>
  </div>
</div>
