<div style="font-family: helvetica;">

  <div>
    <h1 style="font-size: 1.5em;">Offboarding Worker Request</h1>
    <p><strong>Name: </strong><%= @employee.cn %></p>
    <p><strong>Termination Date: </strong><%= @employee.termination_date.strftime("%b %e, %Y") %></p>
    <p><strong>EmployeeID: </strong><%= @employee.employee_id %></p>
    <p><strong>Title: </strong><%= @employee.job_title.try(:name) %></p>
    <p><strong>Department: </strong><%= @employee.department.name %></p>
    <p><strong>Location: </strong><%= @employee.location.name %></p>
    <p><strong>Manager: </strong><%= @employee.manager.first_name %> <%= @employee.manager.last_name %></p>
  </div>
    <p><strong>Manager Email: </strong><%= @employee.manager.email %></p>

  <hr>

  <div>
    <h1 style="font-size: 1.5em;"><strong>Offboarding Info</strong></h1>
    <p>
      <strong>Archive Data:</strong>
      <span style="color: red;"><%= @offboard_command.archive_data %></span>
    </p>
    <p>
      <strong>Forward Email To:</strong>
      <span style="color: red;"><%= @offboard_command.forward_email %></span>
    </p>
    <p>
      <strong>Reassign Salesforce Cases To:</strong>
      <span style="color: red;"><%= @offboard_command.reassign_salesforce %></span>
    </p>
    <p>
      <strong>Transfer Google Docs To:</strong>
      <span style="color: red;"><%= @offboard_command.forward_google %></span>
    </p>
  </div>

  <hr>

  <div>
    <h1 style="font-size: 1.5em;"><strong>Active Security Profile Termination Instructions</strong></h1>
    <div style="margin-left: 2em">
      <% @employee.active_security_profiles.each do |sp| %>
        <div>
          <%= sp.name %><br>
          <ul>
            <% sp.access_levels.find_each do |al| %>
              <li style="margin-left: 2em"><strong><%= al.name %> <%= al.application.name %></strong></li>

              <!-- Application will be offboarded by Mezzo -->
              <% if Application::AUTOMATED_OFFBOARDS.include? al.application.name %>
                <p style="margin-left: 2em; color: limegreen;">Account will be deactivated by Mezzo.</p>
              <% end %>

              <!-- Application updated by Active Directory membership -->
              <% if al.application.ad_controls? %>
                <p style="margin-left: 2em; color: limegreen;">Worker will automatically be removed from the related Active Directory group in 7 days. No further action needed.</p>
              <% end %>

              <% if al.application.dependency.present? %>
                <p style="margin-left: 2em; color: red;"><%= al.application.dependency %></p>
              <% end %>

              <% if al.application.offboard_instructions.present? %>
                <p style="margin-left: 2em; color: red;"><%= al.application.offboard_instructions %></p>
              <% end %>

              <!-- Include commands for Office 365 -->
              <% if al.application.name.include? "Office 365" %>
                <%= render partial: "offboard_commands/office", locals: {offboard_command: @offboard_command} %>
              <% end %>

            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <% if @employee.offboarding_infos.present? && @employee.offboarding_infos.emp_transaction.notes.present? %>
    <div>
      <h1 style="font-size=1.5em;">Additional Instructions from Manager</h1>
        <p><%= @employee.offboarding_infos.emp_transaction.notes %></p>
    </div>
  <% end %>
</div>

