<div style="font-family: helvetica;">
  <h1><%= @emp_transaction.kind %> Request</h1>

  <p>
    <strong>Submission Date:</strong>
    <%= @emp_transaction.created_at.strftime("%b %e, %Y") %>
  </p>

  <p>
    <strong>Start Date:</strong>
    <%= @employee.hire_date.strftime("%b %e, %Y") %>
  </p>

  <% if @emp_transaction.kind == "Onboarding" && @employee.contract_end_date.present? %>
    <strong>Contract End Date:</strong>
    <%= @employee.contract_end_date.strftime("%b %e, %Y") %>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= @employee.cn %>
  </p>

   <p>
    <strong>EmployeeID:</strong>
    <%= @employee.employee_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @employee.job_title.try(:name) %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= @employee.department.name %>
   </p>

  <p>
    <strong>Location:</strong>
    <%= @employee.location.name %>
   </p>

  <p>
    <strong>Manager:</strong>
    <%= @manager.first_name %> <%= @manager.last_name %>
  </p>

  <p>
    <strong>Manager Email:</strong>
    <%= @manager.email %>
  </p>

  <% if @emp_transaction.kind == "Onboarding" %>
    <% if  @employee.is_contingent_worker? %>
      <p>
        <strong>Contingent Worker:</strong>
        <div style="margin-left: 2em">
          <ul>
            <li style="color: <%= @emp_transaction.onboarding_infos.first.cw_email ? 'red' : 'limegreen' %>"><p>Create OpenTable Email: <%= @emp_transaction.onboarding_infos.first.cw_email %></p></li>
            <li style="color: <%= @emp_transaction.onboarding_infos.first.cw_google_membership ? 'red' : 'limegreen' %>"><p>Create Google Group Membership: <%= @emp_transaction.onboarding_infos.first.cw_google_membership %></p></li>
          </ul>
        </div>
      </p>
    <% else %>
      <p>
        <strong>Contingent Worker:</strong>
        false
      </p>
    <% end %>
  <% end %>

  <% if @emp_transaction.kind == "Onboarding" || @emp_transaction.kind == "Security Access" %>
    <% if @emp_transaction.security_profiles.count > 0 %>
      <p>
        <strong>Apply Security Profiles:</strong>
      </p>
      <div style="margin-left: 2em">
        <% @emp_transaction.security_profiles.each do |sp| %>
          <div>
            <%= sp.name %><br>
            <ul>
              <% sp.access_levels.find_each do |al| %>
                <li style="margin-left: 2em"><%= al.name %> <%= al.application.name %></li>
                  <% if(al.application.dependency.present? || al.application.onboard_instructions.present?) %>
                    <p style="margin-left: 2em; color: red"><%= al.application.dependency %></p>
                    <p style="margin-left: 2em; color: red"><%= al.application.onboard_instructions %></p>
                  <% else %>
                    <p style="margin-left: 2em; color: limegreen">No further action needed.</p>
                  <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @emp_transaction.revoked_security_profiles.count > 0 %>
      <p>
        <strong>Revoke Security Profiles:</strong>
      </p>
      <div style="margin-left: 2em">
        <% @emp_transaction.revoked_security_profiles.each do |sp| %>
          <div>
            <%= sp.name %><br>
            <ul>
              <% sp.access_levels.find_each do |al| %>
                <li style="margin-left: 2em"><%= al.name %> <%= al.application.name %></li>
                <% if al.application.ad_controls? %>
                  <p style="margin-left: 2em; color: limegreen;">No further action needed.</p>
                <% end %>

                <% if al.application.dependency.present? %>
                  <p style="margin-left: 2em; color: red;"><%= al.application.dependency %></p>
                <% end %>

                <% if al.application.offboard_instructions.present? %>
                  <p style="margin-left: 2em; color: red;"><%= al.application.offboard_instructions %></p>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @emp_transaction.kind == "Onboarding" || @emp_transaction.kind == "Equipment" %>
    <p>
      <strong>Machine Bundle:</strong>
    </p>
    <div style="margin-left: 2em">
      <% @emp_transaction.machine_bundles.each do |mb| %>
        <div>
          <%= mb.name %><br>
          <ul>
            <li style="margin-left: 2em"><%= mb.description %></li>
          </ul>
        </div>
      <% end %>
    </div>
    <% if @employee.home_address_1.present? %>
      <p>
        <strong>Shipping Address:</strong>
      </p>
      <p style="margin-left: 2em">Address 1: <%= @employee.home_address_1 %></p>
      <p style="margin-left: 2em">
        Address 2: <%= @employee.home_address_2 if @employee.home_address_2.present? %>
      </p>
      <p style="margin-left: 2em">
        City: <%= @employee.home_city if @employee.home_city.present? %>
      </p>
      <p style="margin-left: 2em">
        State: <%= @employee.home_state if @employee.home_state.present? %>
      </p>
      <p style="margin-left: 2em">
        Zip: <%= @employee.home_zip if @employee.home_zip.present? %>
      </p>
    <% end %>
    <% if @employee.personal_mobile_phone.present? %>
      <p>
        <strong>Personal Mobile:</strong>
        <%= @employee.personal_mobile_phone %>
      </p>
      <% end %>
  <% end %>


</div>
