<div style="font-family: helvetica;">
  <h2>Security Profile Change Requested for <%= @employee.cn %> on <%= l @emp_transaction.created_at, format: :verbose %></h2>


  <% if @emp_transaction.security_profiles.count > 0 %>
    <% if Application.for_emp_transaction(@emp_transaction).where('ad_controls IS FALSE').count == 0 %>
        <h3>NO ACTION NEEDED -- FOR REVIEW ONLY</h3>
        <p>Permissions were automatically updated by Mezzo. Please review notes for any changes requested by the manager.</p>
    <% else %>
      <h3>ACTION NEEDED</h3>
      <p>Please update access for the applications not controlled by Mezzo.</p>
    <% end %>

    <% if @employee.emp_deltas.important_changes.present? %>
      <p>This security access change was requested after the following employee information was updated on <%= l @employee.emp_deltas.important_changes.last.created_at, format: :verbose %>:</p>
        <% @employee.emp_deltas.important_changes.last.format_by_key.each do |e| %>
          <p>- <%= e['name'] %> changed from <%= e['before'] %> to <%= e['after'] %></p>
        <% end %>
    <% end %>
  <% else %>
    <h3>NO CHANGES MADE. PLEASE REVIEW FOR MANAGER NOTES.</h3>
  <% end %>

  <H3>WORKER INFO</H3>
  <p>
    Name: <%= @employee.cn %><br>
    Email: <%= @employee.email %><br>
    Employee ID: <%= @employee.employee_id %><br>
    Title: <%= @employee.job_title.try(:name) %> <br>
    Department: <%= @employee.department.name %><br>
    Location: <%= @employee.location.name %><br>
    Manager: <%= @manager.first_name %> <%= @manager.last_name %> - <%= @manager.email %>
  </p>

  <% if @emp_transaction.security_profiles.count > 0 %>
    <h3>SECURITY PROFILE CHANGES</h3>
    <p>
      <strong>Apply Security Profiles:</strong>
    </p>
    <div style="margin-left: 2em">
      <% @emp_transaction.security_profiles.each do |sp| %>
        <div>
          <%= sp.name %><br>
          <ul>
            <% sp.access_levels.find_each do |al| %>
              <li style="margin-left: 2em"><%= al.name %> <%= al.application.name %></li>
                <% if(al.application.dependency.present? || al.application.onboard_instructions.present?) %>
                  <p style="margin-left: 2em; color: red"><%= al.application.dependency %></p>
                  <p style="margin-left: 2em; color: red"><%= al.application.onboard_instructions %></p>
                <% else %>
                  <p style="margin-left: 2em; color: limegreen">No further action needed.</p>
                <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @emp_transaction.revoked_security_profiles.count > 0 %>
    <p>
      <strong>Revoke Security Profiles:</strong>
    </p>
    <div style="margin-left: 2em">
      <% @emp_transaction.revoked_security_profiles.each do |sp| %>
        <div>
          <%= sp.name %><br>
          <ul>
            <% sp.access_levels.find_each do |al| %>
              <li style="margin-left: 2em"><%= al.name %> <%= al.application.name %></li>
              <% if al.application.ad_controls? %>
                <p style="margin-left: 2em; color: limegreen;">No further action needed.</p>
              <% end %>

              <% if al.application.dependency.present? %>
                <p style="margin-left: 2em; color: red;"><%= al.application.dependency %></p>
              <% end %>

              <% if al.application.offboard_instructions.present? %>
                <p style="margin-left: 2em; color: red;"><%= al.application.offboard_instructions %></p>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @emp_transaction.kind == "Equipment" %>
    <p>
      <strong>Machine Bundle:</strong>
    </p>
    <div style="margin-left: 2em">
      <% @emp_transaction.machine_bundles.each do |mb| %>
        <div>
          <%= mb.name %><br>
          <ul>
            <li style="margin-left: 2em"><%= mb.description %></li>
          </ul>
        </div>
      <% end %>
    </div>
    <% if @employee.home_address_1.present? %>
      <p>
        <strong>Shipping Address:</strong>
      </p>
      <p style="margin-left: 2em">Address 1: <%= @employee.home_address_1 %></p>
      <p style="margin-left: 2em">
        Address 2: <%= @employee.home_address_2 if @employee.home_address_2.present? %>
      </p>
      <p style="margin-left: 2em">
        City: <%= @employee.home_city if @employee.home_city.present? %>
      </p>
      <p style="margin-left: 2em">
        State: <%= @employee.home_state if @employee.home_state.present? %>
      </p>
      <p style="margin-left: 2em">
        Zip: <%= @employee.home_zip if @employee.home_zip.present? %>
      </p>
    <% end %>
    <% if @employee.personal_mobile_phone.present? %>
      <p>
        <strong>Personal Mobile:</strong>
        <%= @employee.personal_mobile_phone %>
      </p>
      <% end %>
  <% end %>

  <h3>ADDITIONAL INSTRUCTIONS</h3>
  <% if @emp_transaction.notes.present? %>
    <p><%= @emp_transaction.notes %></p>
  <% else %>
    <p>None.</p>
  <% end %>
</div>
