<% if @employee %>
  <p><%= @employee.cn %></p>
  <p><%= @employee.department.name %></p>
  <p><%= @employee.business_title %></p>

  <%= form_for(@emp_transaction) do |f| %>
    <% if @emp_transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@emp_transaction.errors.count, "error") %> prohibited this emp_transaction from being saved:</h2>

        <ul>
        <% @emp_transaction.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :kind %><br>
      <%= f.text_field :kind, value: @kind %>
    </div>
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.number_field :user_id, value: @manager.id %>
    </div>
    <div class="field">
      <%= f.label "Security Profiles" %><br>
      <% SecurityProfile.find_each do |sp| %>
        <%= f.fields_for :emp_sec_profiles do |esp_form| %>
          <%= esp_form.hidden_field :employee_id, value: @employee.id %>
          <%= esp_form.hidden_field :security_profile_id, value: sp.id %>
          <%= esp_form.check_box :create %>
          <%= esp_form.label "#{sp.name}" %><br>
          <% sp.access_levels.find_each do |al| %>
            <p><%= al.name %> <%= al.application.name %></p>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>

