<% if @employee %>
  <%= form_for(@manager_entry, :url => emp_transactions_path(@emp_transaction), :html => {:class => "form"}) do |f| %>
    <% if @manager_entry.errors.any? %>
      <div id="error_explanation">
        <h4><%= pluralize(@manager_entry.errors.count, "error") %> prohibited this emp_transaction from being saved:</h2>

        <ul>
        <% @manager_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="section primary">
      <h3 class="text-center"><%= @employee.cn %></h3>
      <p class="text-center"><%= @employee.job_title.try(:name) %> &#8226; <%= @employee.department.name %> &#8226; <%= @employee.location.name %></p>
      <% if @employee.manager.present? %>
        <p class="text-center">Manager: <%= @employee.manager.cn %></p>
      <% end %>
    </div>

    <%= f.hidden_field :kind, value: @kind %>
    <%= f.hidden_field :employee_id, value: @employee.id %>
    <%= f.hidden_field :user_id, value: @manager_user.id %>

    <div class="section">
      <% case @kind %>
      <% when "Onboarding" %>
        <%= render partial: "onboarding", locals: {f: f, employee: @employee, manager_user: @manager_user} %>
      <% when "Security Access" %>
        <%= render partial: "access_change", locals: {f: f, employee: @employee, reason: @reason } %>
      <% when "Equipment" %>
        <%= render partial: "equipment", locals: {f: f} %>
      <% when "Offboarding" %>
        <%= render partial: "offboarding", locals: {f: f, employee: @employee} %>
      <% end %>
    </div>

    <!-- Retro terminations don't have a submit option -->
    <% unless @kind == "Offboarding" && @employee.offboarding_cutoff <= DateTime.now %>
      <!-- Notes -->
      <% if @kind != "Offboarding" %>
        <%= f.label :notes, "Additional requests for TechTable (Distribution Lists? Special Printers? Equipment? Other tools?):" %>
      <% else %>
        <%= f.label :notes, "Additional Instructions for TechTable:" %>
      <% end %>
      <%= f.text_area :notes %>
      <p class="help-text">(Any instructions for P&amp;C should be directed to <%= mail_to "peopleandculture@opentable.com" %>)</p>

      <!-- Buttons -->
      <% if @kind == "Security Access" %>
        <%= f.submit "Submit", :class => "button", :id => "submit_confirm", action: "post", data: { confirm: '{"title":"Are you sure you want to submit this form?","body":"Please note: any permissions controlled by Active Directory will be applied or revoked immediately upon submission. If you are revoking security profiles that control Wi-Fi or VPN access, the worker will immediately lose connectivity."}' } %>
      <% elsif @event.present? %>
        <%= f.submit "Submit", :class => "button", :id => "submit_confirm", action: "post", data: { confirm: '{"title": "Confirm Account Linking and Submit Form", "body": "You have selected to link this worker with an existing account. Please confirm that this information is correct before submitting this form. This action cannot be undone."}'} %>
      <% else %>
        <%= f.submit "Submit", :class => "button" %>
      <% end %>
    <% end %>

  <% end %>
<% end %>

