<% if @employee %>
  <%= form_for(@manager_entry, :url => emp_transactions_path(@emp_transaction), :html => {:class => "form"}) do |f| %>
    <% if @manager_entry.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@manager_entry.errors.count, "error") %> prohibited this emp_transaction from being saved:</h2>

        <ul>
        <% @manager_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="section">
      <p class="indent-1"><strong>Name:</strong> <%= @employee.cn %></p>
      <p class="indent-1"><strong>Title:</strong> <%= @employee.business_title %></p>
      <p class="indent-1"><strong>Department:</strong> <%= @employee.department.name %></p>
      <p class="indent-1"><strong>Location:</strong> <%= @employee.location.name %></p>
      <p class="indent-1"><strong>Manager:</strong> <%= @manager_user.first_name %> <%= @manager_user.last_name %></p>
    </div>

    <% case @kind %>
    <% when "Onboarding" %>
      <%= render partial: "onboarding", locals: {f: f, employee: @employee, manager_user: @manager_user} %>
    <% when "Offboarding" %>
      <%= render partial: "offboarding", locals: {f: f, employee: @employee} %>
    <% when "Security Access" %>
      <%= render partial: "security_access", locals: {f: f, employee: @employee} %>
    <% when "Equipment" %>
      <%= render partial: "equipment", locals: {f: f} %>
    <% end %>


    <%= f.hidden_field :kind, value: @kind %>
    <%= f.hidden_field :employee_id, value: @employee.id %>
    <%= f.hidden_field :user_id, value: @manager_user.id %>
    <%= f.label "Additional Instructions for TechTable" %>
    <%= f.text_area :notes %>
    <p class="help-text">(Any instructions for P&amp;C should be directed to P&amp;C via email)</p>

    <div class="actions">
      <%= f.submit "Submit", :class => "button"%>
    </div>
  <% end %>
<% end %>

