<% if @employee %>
  <%= form_for(@manager_entry, :url => emp_transactions_path(@emp_transaction), :html => {:class => "form"}) do |f| %>
    <% if @manager_entry.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@manager_entry.errors.count, "error") %> prohibited this emp_transaction from being saved:</h2>

        <ul>
        <% @manager_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="section danger text-center">
      This form must be submitted before <strong><%= @employee.onboarding_due_date %></strong>
    </div>

    <div class="section">
      <p>Please select the Security Profiles you would like applied to:</p>
      <p class="indent-1"><strong>Name:</strong> <%= @employee.cn %></p>
      <p class="indent-1"><strong>Title:</strong> <%= @employee.business_title %></p>
      <p class="indent-1"><strong>Department:</strong> <%= @employee.department.name %></p>
      <p class="indent-1"><strong>Location:</strong> <%= @employee.location.name %></p>
      <p class="indent-1"><strong>Manager:</strong> <%= @manager_user.first_name %> <%= @manager_user.last_name %></p>
      <p class="indent-1"><strong>Start Date: </strong> <%= @employee.hire_date.strftime("%b %e, %Y")%></p>
    </div>

    <div class="row">
      <%= f.hidden_field :kind, value: @kind %>
      <%= f.hidden_field :employee_id, value: @employee.id %>
      <%= f.hidden_field :user_id, value: @manager_user.id %>
      <% if @kind == "Onboarding" %>
        <h4>Buddy</h4>
        <p class="help-text">Select a buddy for the worker's first day.</p>
        <%= f.collection_select :buddy_id, Employee.direct_reports_of(@manager_user.employee_id), :id, :cn, {prompt: "Select from list"}, required: true %>
        <hr>
      <% end %>
      <% if @kind == "Security Access" || @kind == "Onboarding" %>
        <h4>Security Access</h4>
        <p class="help-text">Select only the appropriate security access profiles to apply to the worker.</p>
        <% SecurityProfile.find_profiles_for(@employee.department.id).each do |sp| %>
            <div class="column large-4 medium-6 small-12">
              <%= check_box_tag 'security_profile_ids[]', sp.id %>
              <%= f.label "#{sp.name}" %><br>
              <ul>
                <% sp.access_levels.find_each do |al| %>
                  <li class="indent-1"><small><%= al.name %> <%= al.application.name %></small></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <hr>
      <% end %>
      <% if @kind == "Equipment" || @kind == "Onboarding" %>
        <h4>Machine Bundles</h4>
        <p class="help-text">Select a machine bundle for the worker.</p>
        <% MachineBundle.all.each do |mb| %>
            <div class="column large-6 medium-12">
              <%= radio_button_tag 'machine_bundle_id', mb.id, false, required: true %>
              <%= f.label "#{mb.name}" %><br>
              <ul>
                  <li class="indent-1"><small><%= mb.description %></small></li>
              </ul>
            </div>
        <% end %>
        <hr>
      <% end %>
    </div>

    <div class="row">
      <%= f.label "Additional Instructions for HelpDesk" %>
      <%= f.text_area :notes %>
      <p class="help-text">(Any instructions for P&C should be directed to P&C via email)</p>
    </div>
    <div class="actions">
      <%= f.submit "Submit", :class => "button"%>
    </div>
  <% end %>
<% end %>

