<div id='emp-transaction-form'>
  <%= form_for(@manager_entry, url: emp_transactions_path(@emp_transaction), html: { class: 'form' }) do |f| %>

    <% if @manager_entry.errors.any? %>
      <div id='error_explanation'>
        <h4><%= pluralize(@manager_entry.errors.count, 'error') %> prohibited this emp_transaction from being saved:</h4>
        <ul>
        <% @manager_entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.hidden_field :kind, value: @manager_entry.kind %>
    <%= f.hidden_field :user_id, value: @manager_entry.user.id %>
    <%= f.hidden_field :submission_token, value: @manager_entry.token %>

    <% if @manager_entry.employee.first_name.present? %>
      <div class='section primary'>
        <h3 class='text-center'><%= @manager_entry.employee.cn %></h3>
        <p class='text-center'><%= @manager_entry.employee.job_title.try(:name) %> &#8226; <%= @manager_entry.employee.department.name %> &#8226; <%= @manager_entry.employee.location.name %></p>
        <% if @manager_entry.employee.manager.present? %>
          <p class='text-center'>Manager: <%= @manager_entry.employee.manager.cn %></p>
        <% end %>
      </div>
      <%= f.hidden_field :employee_id, value: @manager_entry.employee.id %>
    <% end %>

    <%= render partial: "#{@manager_entry.kind}", locals: { f: f, manager_entry: @manager_entry } %>

    <% unless @manager_entry.kind == 'offboarding' && @manager_entry.employee.offboarding_cutoff <= DateTime.now %>

      <%= render partial: 'notes', locals: { f: f, manager_entry: @manager_entry } %>

      <% if @manager_entry.kind == 'security_access' %>
        <%= f.submit 'Submit', class: 'button', id: 'submit_confirm', action: 'post', data: { confirm: '{"title":"Are you sure you want to submit this form?","body":"Please note: any permissions controlled by Active Directory will be applied or revoked immediately upon submission. If you are revoking security profiles that control Wi-Fi or VPN access, the worker will immediately lose connectivity."}' } %>
      <% elsif (@manager_entry.respond_to? :event) && @manager_entry.event.present? %>
        <%= f.submit "Submit", class: "button", id: "submit_confirm", action: "post", data: { confirm: '{"title": "Confirm Account Linking and Submit Form", "body": "You have selected to link this worker with an existing account. Please confirm that this information is correct before submitting this form. This action cannot be undone."}'} %>
      <% else %>
        <%= f.submit "Submit", :class => "button" %>
      <% end %>
    <% end %>
  <% end %>
</div>

