<div class="section danger text-center">
  <p>You are reciving this form because you are listed as the manager of <%= @employee.cn %>, who may need a security profile update because the following information changed on <strong><%= @employee.emp_deltas.important_changes.last.created_at.try(:strftime, "%b %e, %Y") %></strong>:</p>
  <p><strong>Old data:</strong> <%= @employee.emp_deltas.important_changes.last.format(@employee.emp_deltas.important_changes.last.before) %></p>
  <p><strong>New data:</strong> <%= @employee.emp_deltas.important_changes.last.format(@employee.emp_deltas.important_changes.last.after) %></p>
</div>

<%= render partial: "security_access", locals: {f: f, employee: @employee, kind: @kind} %>

