<div class='section'>
  <h4>New Contractor Request</h4>

  <h5>Service Description</h5>
  <p>This service is used to enable OpenTable system accounts for new or rehired Agency Contractor, Service Provider, or Independent Contractor workers.</p>

  <h5>Service Scope</h5>
  <p>Do not use this process if you are trying to extend a currently active contractor. This is done from the contractors profile in your worker list. Do not use htis process to enable OpenTable system accounts for a Temporary worker. This process is handled via the standard onboarding process with the People & Culture team.</p>

  <h5>Service Prerequisites</h5>
  <p>Ensure the following prerequisites are in place before making this service request:</p>
  <ul>
    <li>You have discussed the contract role with your HRBP and the worker is correctly classified.</li>
    <li>You have worked with OpenTable procurement and have an approved P.O. or requisition ID in hand.</li>
    <li>You have recieved approval from legal and have the name of the person in legal who approved this contract.</li>
  </ul>
  <p>For more details about these pre-requisites, please visit the OpenTable wiki procurement and legal approval pages.</p>

  <h5>Service Fulfillment</h5>
  <p>Once your service request is submitted and approved, you will be asked to complete a security profile onboarding form. Work with your HRBP to ensure timely approval of this request.</p>
  <p>The security profile onboarding form must be submitted at least 5 days before the planned contractor start date in order for equipment and access configuration to be complete.</p>
</div>

<div class='section'>
  <h5>Worker Classification</h5>
  <p>Before onboarding a contingent worker you must consult with your HRBP to determine the worker classification.</p>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label :worker_type_id %>
  <%= f.collection_select :worker_type_id, WorkerType.contract.active, :id, :name, include_blank: true %>

  <h5>Requisition or P.O. Number</h5>
  <p>Before you can onboard a contingent worker, you must work with procurement to approve a P.O. for the contract.</p>
  <p>Please enter the approved P.O. or Requision number for this worker's contract.</p>
  <%= f.text_field :req_or_po_number %>

  <h5>Legal Approval</h5>
  <p>The legal team must review and approve your vendor contract before you can onboard a contractor. Please provide the name of the legal team member who approved your contract.</p>
  <%= f.text_field :legal_approver %>
</div>

<div class='section'>
  <h5>Worker Categorization</h5>
  <%= f.label :business_unit_id %>
  <%= f.collection_select :business_unit_id, BusinessUnit.all, :id, :name %>
  <%= f.label :department_id %>
  <%= f.collection_select :department_id, Department.active, :id, :name, include_blank: true %>
  <%= f.label :manager_id %>
  <%= f.collection_select :manager_id, [current_user.employee], :id, :cn %>
</div>

<div class='section'>
  <h5>Worker Info</h5>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :start_date %>
  <%= f.date_field :start_date %>
  <%= f.label :contract_end_date %>
  <%= f.date_field :contract_end_date %>
  <%= f.label :business_title %>
  <%= f.text_field :business_title %>
  <%= f.label :location_id %>
  <%= f.collection_select :location_id, Location.active, :id, :name, include_blank: true %>
  <%= f.label :personal_mobile_phone %>
  <%= f.text_field :personal_mobile_phone %>
  <%= f.label :personal_email %>
  <%= f.text_field :personal_email %>
</div>
