<h1>Employee Offboarding Form</h1>
<% if @employee.offboarding_cutoff >= DateTime.now %>
  <div class="callout danger text-center">
  <p>You are receiving this form because you are listed as the manager of <%= @employee.cn %>, whose last day at OpenTable is listed in ADP as <strong><%= @employee.offboard_date.strftime("%b %e, %Y") %></strong>.</p>
  <p><strong>Submit this form before 4 P.M. PST on <%= @employee.offboard_date.strftime("%b %e, %Y") %></strong> to indicate data transfer and/or send special instructions to TechTable for the offboard.</p>
  <p>If you do not submit the form on time, data access and email related to this worker will be transferred to your account. Any changes needed after the termination should be requested via TechTable.</p>
</div>

<p>Archive Data *</p>
<%= f.radio_button :archive_data, true, value: true, required: true%>
<%= f.label :archive_data, "Yes" %>
<%= f.radio_button :archive_data, false, value:false %>
<%= f.label :archive_data, "No" %>
<p>Has a Replacement Been Hired *</p>
<%= f.radio_button :replacement_hired, true, value: true, required: true %>
<%= f.label :replacement_hired, "Yes" %>
<%= f.radio_button :replacement_hired, false, value:false %>
<%= f.label :replacement_hired, "No" %>
<p class="section text-center">Please assign yourself if the worker does not have email, Salesforce or Google Doc accounts. No action will be taken.</strong></p>
<p>Forward Email to: *</p>
<%= f.autocomplete_field :forward_email_id, autocomplete_name_employees_path, :id_element => '#forward_email_id', :update_elements => {}, :placeholder => "Search for Employee", required: true %>
<p>Reassign Salesforce cases to: *</p>
<%= f.autocomplete_field :reassign_salesforce_id, autocomplete_name_employees_path, :id_element => '#reassign_salesforce_id', :update_elements => {}, :placeholder => "Search for Employee", required: true %>
<p>Transfer Google Docs to:</p>
<%= f.autocomplete_field :transfer_google_docs_id, autocomplete_name_employees_path, :id_element => '#transfer_google_docs_id', :update_elements => {}, :placeholder => "Search for Employee", required: true %>
<%= f.hidden_field :forward_email_id, id: 'forward_email_id' %>
<%= f.hidden_field :reassign_salesforce_id, id: 'reassign_salesforce_id' %>
<%= f.hidden_field :transfer_google_docs_id, id: 'transfer_google_docs_id' %>
<hr>

<% else %>
  <div class="section danger text-center">
    <p>The termination date for this worker is in the past, and this form can no longer be submitted. All historic data for this worker has been assigned to the listed manager. If you need to forward email or transfer documents to someone other than yourself, please open a Zendesk ticket with TechTable.</p>
  </div>
<% end %>
