<div class="section danger text-center">
  This form must be submitted before <strong><%= @employee.onboarding_due_date %></strong>
  <br>
  Start Date: <strong><%= @employee.hire_date.strftime("%b %e, %Y")%></strong>
</div>

<% unless @employee.is_contingent_worker? %>
  <h4>Buddy *</h4>
  <p class="help-text">Select a buddy for the worker's first day.</p>
  <%= f.collection_select :buddy_id, Employee.all - [@employee], :id, :cn, {prompt: "Select from list"}, required: true %>
  <hr>
<% end %>

<% if @employee.is_contingent_worker? %>
  <h4>Contingent Workers</h4>
  <p class="help-text">If this is a contingent worker please confirm the following:</p>
  <div class="column large-12">
    <%= f.check_box :cw_email %>
    <%= f.label :cw_email, "This contingent worker requires an OpenTable email address" %>
  </div>
  <div class="column large-12">
    <%= f.check_box :cw_google_membership %>
    <%= f.label :cw_google_membership, "This contingent worker requires Google Group membership (for Hangouts and Google tools)" %>
  </div>
  <hr>
<% end %>

<%= render partial: "security_access", locals: {f: f, employee: @employee} %>
<%= render partial: "equipment", locals: {f: f} %>
