<div id='onboarding-form'>
  <h3 class='text-center'>Employee Onboarding Form</h3>
  <div class='text-center intro'>
    <p>
      <strong>Due: <%= l manager_entry.employee.onboarding_due_date, format: :verbose %></strong>
      <br>
      <strong>Start Date: <%= l manager_entry.employee.current_profile.start_date, format: :verbose %></strong>
    </p>
    <hr>
    <p>You are receiving this action request because you are listed as the manager of new hire <%= manager_entry.employee.cn %>. This form helps TechTable and People & Culture prepare your new hire’s equipment and access. It must be submitted by the due date in order for the worker to be onboarded in time for their start date.</p>
    <p>If you have questions about the information on this form, please contact TechTable as soon as possible, or submit the form with your questions in the note section below.</p>
  </div>

  <% if is_contingent_worker?(manager_entry.employee) %>
    <div class='callout large'>
      <h4>Contingent Worker Options</h4>
      <br>
      <p class='help-text'>Please confirm the following:</p>
      <div class='row'>
        <div class='column large-12'>
          <%= f.check_box :cw_email %>
          <%= f.label :cw_email, 'This contingent worker requires an OpenTable email address' %>
        </div>
        <div class='column large-12'>
          <%= f.check_box :cw_google_membership %>
          <%= f.label :cw_google_membership, 'This contingent worker requires Google Group membership (for Hangouts and Google tools)' %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render partial: 'security_access', locals: { f: f, employee: @manager_entry.employee } %>
  <%= render partial: 'equipment', locals: { f: f } %>

  <% unless is_contingent_worker?(@manager_entry.employee) %>
    <div class='callout'>
      <h4>Buddy *</h4>
      <p class='help-text'>Select a buddy for the worker's first day.</p>
      <%= f.autocomplete_field :buddy_id, autocomplete_name_employees_path, :id_element => '#buddy_id', :update_elements => {}, :placeholder => 'Search for Employee', required: true %>
    </div>
    <%= f.hidden_field :buddy_id, id: 'buddy_id' %>
    <%= f.hidden_field :cw_email, value: false %>
    <%= f.hidden_field :cw_google_membership, value: false %>
  <% end %>

  <p>Does your new hire need anything not shown on this form? Distribution Lists? Special Printers? Equipment? Other tools? Add it to the notes section below, and TechTable will receive these requests.</p>
</div>
