<div class="callout" style="width: 100%;">
    <h4 class="">Security Profiles</h4>
    <br>
    <ul class="accordion" data-accordion data-allow-all-closed="true">
    <li class="accordion-item is-active" data-accordion-item>
      <a href="#" class="accordion-title"><h5>How to Choose Security Profiles</h5></a>

      <div class="accordion-content" data-tab-content>
        <div class="row">
          <div class="column large-4 medium-6 small-12">
            <p>
              Select ONLY the appropriate security access profiles to apply to the worker. As manager, you will be held responsible for over-permissioning your direct reports.
            </p>
          </div>
          <div class="column large-4 medium-6 small-12">
            <p>
              Access controlled by Active Directory will be immediately updated upon submission of this form. All other access requests will be forwarded to TechTable for implementation.
            </p>
          </div>
          <div class="column large-4 medium-6 small-12">
            <p>
              If you are not sure what to pick, or if you do not see what you need, please contact <%= mail_to "techtable@opentable.com" %> for guidance.
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <br>

  <div class="row">
  <% SecurityProfile.find_profiles_for(@employee.department.id).each do |sp| %>
    <div class="column large-4 medium-6 small-12">

      <% if sp.name == "Default OpenTable" || sp.name == "Basic Regular Worker Profile" %>
        <% if !is_contingent_worker?(@employee) %>
          <%= check_box_tag 'security_profile_ids[]', sp.id, true, disabled: true %>
          <%= check_box_tag 'security_profile_ids[]', sp.id, true, style: 'visibility: hidden' %>
        <% else %>
          <%= check_box_tag 'security_profile_ids[]', sp.id, false, style: 'display: none' %>
        <% end %>

      <% elsif sp.name == "Basic Contract Worker Profile" %>
        <% if @employee.worker_type.kind == "Contractor" %>
          <%= check_box_tag 'security_profile_ids[]', sp.id, true, disabled: true %>
          <%= check_box_tag 'security_profile_ids[]', sp.id, true, style: 'visibility: hidden' %>
        <% else %>
          <%= check_box_tag 'security_profile_ids[]', sp.id, false, disabled: true %>
        <% end %>

      <% elsif sp.name == "Basic Temp Worker Profile" %>
        <% if @employee.worker_type.kind == "Temporary" %>
          <%= check_box_tag 'security_profile_ids[]', sp.id, true, disabled: true %>
          <%= check_box_tag 'security_profile_ids[]', sp.id, true, style: 'visibility: hidden' %>
        <% else %>
          <%= check_box_tag 'security_profile_ids[]', sp.id, false, disabled: true %>
        <% end %>
      <% else %>
        <%= check_box_tag 'security_profile_ids[]', sp.id, @employee.active_security_profiles.include?(sp) %>
      <% end %>

      <%= f.label 'security_profile_ids[]', "#{sp.name}" %><br>
      <ul>
        <% sp.access_levels.includes(:application).find_each do |al| %>
          <li class="indent-1"><small><%= al.name %> <%= al.application.name %></small></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>
</div>

<% if @employee.security_profiles_to_revoke.count > 0 %>
  <div class="callout large warning">
    <div class="row">
      <h4 class="">Revoked Security Profile Alert</h4>
      <br>
    </div>
    <div class="row">
      <p class="help-text">Please note: because the worker's department has changed, the following access levels are no longer able to be assigned to this worker and will be revoked on submission of this form. This will be effective immedately. Please note that if revoked access includes Wi-Fi or VPN access, you should make sure the worker is assigned a security group that includes necessary Wi-Fi and VPN groups.</p>
    </div>
    <div class="row">
      <% @employee.security_profiles_to_revoke.each do |sp| %>
        <div class="column large-4 medium-6 small-12">
          <p><%= sp.name %></p>
          <% sp.access_levels.includes(:application).find_each do |al| %>
            <li class="indent-1"><small><%= al.name %> <%= al.application.name %></small></li>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

