<h1><%= @emp_transaction.kind %> Request</h1>

<p>
  <strong>Submission Date:</strong>
  <%= @emp_transaction.created_at.strftime("%b %e, %Y") %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.cn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @employee.business_title %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department.name %>
 </p>

<p>
  <strong>Location:</strong>
  <%= @employee.location.name %>
 </p>

<p>
  <strong>Manager:</strong>
  <%= @manager.first_name %> <%= @manager.last_name %>
</p>

<p>
  <strong>Buddy:</strong>
  <%= @buddy.first_name %> <%= @buddy.last_name %>
</p>

<p>
  <strong>Contingent Worker:</strong>
  <div class="indent-1">
    <ul>
      <li>Create OpenTable Email: <%= @emp_transaction.cw_email %></li>
      <li>Create Google Group Membership: <%= @emp_transaction.cw_google_membership %></li>
    </ul>
  </div>
</p>

<p>
  <strong>Security Profiles:</strong>
</p>
<div class="indent-1">
  <% @emp_transaction.security_profiles.each do |sp| %>
    <div>
      <%= sp.name %><br>
      <ul>
        <% sp.access_levels.find_each do |al| %>
          <li class="indent-1"><small><%= al.name %> <%= al.application.name %></small></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<p>
  <strong>Machine Bundle:</strong>
</p>
<div class="indent-1">
  <% @emp_transaction.machine_bundles.each do |mb| %>
    <div>
      <%= mb.name %><br>
      <ul>
        <li class="indent-1"><small><%= mb.description %></small></li>
      </ul>
    </div>
  <% end %>
</div>

<p>
  <strong>Additional Instructions:</strong>
  <%= @emp_transaction.notes %>
</p>
