<div style="font-family: helvetica; margin: 25px; width: 550px">
  <p>The following items must be updated in Mezzo:</p>
  <% @items.each do |i| %>
    <p><strong>New <%= i.class.name %>:</strong></p>

    <% i.attributes.each_pair do |k, v| %>
      <% unless k.in?(["id", "updated_at", "created_at"]) %>
        <p style="margin-left: 2em"><strong><%= k.titleize %>:</strong> <%= v %></p>
      <% end %>
    <% end %>

    <p style="margin-left: 2em"> <a href=<%= url_for([:edit, i]) %> target="_blank">Edit <%= i.class.name %></a></p>

  <% end %>

  <p>Note: You must be logged into the OpenTable VPN to access Mezzo. Use your OpenTable user name and password to log in. Please contact the Mezzo development team with any questions.</p>
</div>
