<tr>
  <td><%= link_to e.cn, employee_path(e) %></td>
  <td>
    <% if can? :direct_reports, e %>
      <%= render partial: "employee_form_link", locals: { e: e } %>
    <% else %>
      <%= render partial: "employee_form_status", locals: { e: e } %>
    <% end %>
  </td>
  <td>
    <% if (can? :direct_reports, e) && (e.direct_reports.present?) %>
      <%= button_to 'Direct reports', direct_reports_employee_path(e), class: 'direct-report-btn button', method: 'get' %>
    <% end %>
  </td>
  <td><%= e.job_title.try(:name) %></td>
  <td><%= e.department.try(:name) %></td>
  <td><%= e.location.try(:name) %></td>
  <td><%= e.worker_type.try(:name) %></td>
  <td><%= e.manager.try(:cn) %></td>
  <td><%= l e.hire_date, format: :mdy if e.hire_date.present? %></td>
  <td><%= l e.contract_end_date, format: :mdy if e.contract_end_date.present? %></td>
  <td><%= l e.termination_date, format: :mdy if e.termination_date.present? %></td>
  <% if can? :read, :offboard %>
    <td><%= e.adp_status %></td>
    <td><%= l e.offboarded_at, format: :mdy if e.offboarded_at.present? %></td>
    <td><%= l e.leave_start_date, format: :mdy if e.leave_start_date.present? %></td>
    <td><%= l e.leave_return_date, format: :mdy if e.leave_return_date.present? %></td>
  <% end %>
</tr>
