<td><%= link_to e.cn, employee_path(e) %>
  <% if e.direct_reports.count > 0 %>
    <button class="button" id=<%= "toggle-direct-reports-for-#{e.id}" %> onclick="toggleDirectReports(<%= "#{e.id}" %>)" >Show Direct Reports</button>
  <% end %>
</td>
<td>
  <% if e.request_status == "waiting" %>
    <%= "Pending manager approval: " %>
    <%= link_to "Complete #{manager_form_type(e)} Form by #{manager_form_due(e)}", new_emp_transaction_url({
      :user_emp_id => current_user.employee.employee_id,
      :employee_id => e.id,
      :kind => manager_form_type(e)}), class: "needs-manager-action" %>
  <% elsif e.request_status == "completed" %>
    <%= "#{manager_form_type(e)}" + " " + e.request_status.titleize + ": " %>
    <% if manager_form_type(e) == "Onboarding" %>
      <%= "First Day is #{e.current_profile.start_date.strftime("%b %e, %Y")}" %>
    <% elsif manager_form_type(e) == "Offboarding" %>
      <%= "Last Day is #{e.termination_date.strftime("%b %e, %Y")}" %>
    <% end %>
  <% elsif needs_security_profile_update?(e) && e.status == "active" %>
    <%= "Confirm job change: " %>
    <%= link_to "Update Security Access", new_emp_transaction_url({
      :user_emp_id => current_user.employee.employee_id,
      :employee_id => e.id,
      :kind => "Security Access"}), class: "needs-manager-action" %>
  <% else %>
    <%= e.status.titleize %>
  <% end %>
</td>
<td><%= e.job_title.try(:name) %></td>
<td><%= e.location.try(:name) %></td>
<td><%= e.worker_type.try(:name) %></td>
<td><%= e.manager.try(:cn) %></td>
<td><%= e.current_profile.start_date.strftime("%m/%d/%Y") if e.current_profile.start_date.present? %></td>
<td><%= e.contract_end_date.strftime("%m/%d/%Y") if e.contract_end_date.present? %></td>
<td><%= e.termination_date.strftime("%m/%d/%Y") if e.termination_date.present? %></td>

<% if e.direct_reports.count > 0 %>



  <table style="display:none;" class="direct-reports <%= "direct-reports-for-#{e.id}" %>">
    <thead>
      <tr>
        <td>
          <%= "Direct reports for #{e.cn}" %>
        </td>
      </tr>
    </thead>
    <tbody>
    <% e.direct_reports.each do |d| %>
      <tr>
          <%= render partial: "employee_table_row", locals: { e: d } %>
        </tr>
    <% end %>

    </tbody>
  </table>
  <table>





<% end %>
