<%= form_for @employee, builder: LabellingFormBuilder, :html => {:class => "form"}  do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :first_name, label: "Preferred First Name*", required: true %>
  <%= f.text_field :last_name, label: "Preferred Last Name*", required: true %>
  <%= f.text_field :employee_id, label: "Worker ID - From ADP*", required: true %>
  <#%= f.select :employee_type, Employee::TYPES, {label: "Worker Type*", required: true} %>
  <div class="date-select">
    <%= f.date_select :hire_date, {:order => [:month, :day, :year], :include_blank => true, :default => nil, label: "Hire Date*"}, {required: true} %>
  </div>
  <%= f.collection_select :department_id, Department.all, :id, :name, {label: "Department*"}, {required: true} %>
  <%= f.collection_select :manager_id, Employee.managers, :employee_id, :cn, {label: "Manager*"}, {required: true} %>
  <#%= f.text_field :business_title, label: "Business Title*",required: true %>
  <%= f.collection_select :location_id, Location.all, :id, :name, {label: "Location*"}, {required: true} %>
  <%= f.text_field :office_phone %>
  <%= f.text_field :personal_mobile_phone %>
  <div id="contract-date">
    <h5>Contract Workers Only</h5>
    <div class="section primary">
      <div class="date-select">
          <%= f.date_select :contract_end_date, {label: "Contract End Date*", :order => [:month, :day, :year] , :include_blank => true, :default => nil}, {required: true}%>
      </div>
    </div>
  </div>
  <h5>Home-Based Workers Only - For equipment shipment</h5>
  <div class="section primary">
    <%= f.text_field :home_address_1 %>
    <%= f.text_field :home_address_2 %>
    <%= f.text_field :home_city %>
    <%= f.text_field :home_state %>
    <%= f.text_field :home_zip %>
  </div>
  <h5>Leave and Termination</h5>
  <div class="section date-select danger">
    <div class="date-select">
    <%= f.date_select :leave_start_date, {:order => [:month, :day, :year], :include_blank => true, :default => nil} %>
    </div>
    <div class="date-select">
    <%= f.date_select :leave_return_date, {:order => [:month, :day, :year], :include_blank => true, :default => nil} %>
    </div>
    <%= f.date_select :termination_date, {:order => [:month, :day, :year], :include_blank => true, :default => nil} %>
  </div>
  <div class="actions">
    <%= link_to 'Back to List', employees_path, :class => "button secondary" %>
    <%= f.submit "Submit", :class => "button"%>
  </div>
<% end %>
