<h3><%= "#{@employee.cn}'s Direct Reports" %></h3>
<div id='direct-reports'>
  <%= form_for_filterrific @filterrific do |f| %>
    <%= render partial: 'search_and_filter', locals: { f: f } %>
  <% end %>
  <%= render partial: 'employees_table', locals: { employees: @employees } %>
</div>

<div id='employee-pagination'>
  <%= paginate @employees %>
  <%= page_entries_info @employees %>
</div>
