<h1>Listing Workers</h1>

<table>
  <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th>Department</th>
      <th>Location</th>
      <th>Business Title</th>
      <th>Hire Date</th>
      <th>Contract End Date</th>
      <th>Termination Date</th>
      <th>Leave Start Date</th>
      <th>Leave Return Date</th>
      <th>AD Updated At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |e| %>
      <tr>
        <td><%= e.last_name %></td>
        <td><%= e.first_name %></td>
        <td><%= e.email %></td>
        <td><%= e.department.name %></td>
        <td><%= e.location.name %></td>
        <td><%= e.business_title %></td>
        <td><%= e.hire_date %></td>
        <td><%= e.contract_end_date %></td>
        <td><%= e.termination_date %></td>
        <td><%= e.leave_start_date %></td>
        <td><%= e.leave_return_date %></td>
        <td><%= e.ad_updated_at %></td>
        <td><%= link_to "Show", employee_path(e) %></td>
        <% if can? :update, Employee %>
          <td><%= link_to "Edit", edit_employee_path(e) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
