<div id="index-employee">
  <h1>Listing Workers</h1>

  <%= form_tag(employees_path, :method => "get", id: "search-form") do %>
    <%= submit_tag "Search", class: "button" %>
    <div class="search-input-wrapper">
      <%= text_field_tag :search, params[:search], placeholder: "Search Employees by Name" %>
    </div>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Status</th>
        <th>Email</th>
        <th>Worker Type</th>
        <% if can? :manage, Employee %>
          <th>ADP Assoc. OID</th>
        <% end %>
        <th>Manager</th>
        <th>Department</th>
        <th>Location</th>
        <th>Business Title</th>
        <th>Hire Date</th>
        <th>Contract End Date</th>
        <th>Termination Date</th>
        <th>Leave Start Date</th>
        <th>Leave Return Date</th>
        <th>AD Updated At</th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |e| %>
        <tr>
          <td><%= link_to e.last_name, employee_path(e) %></td>
          <td><%= link_to e.first_name, employee_path(e) %></td>
          <td><%= e.status %></td>
          <td><%= e.email %></td>
          <td><%= e.worker_type.try(:name) %></td>
          <% if can? :manage, Employee %>
            <td><%= e.try(:adp_assoc_oid) %></td>
          <% end %>
          <td><%= e.manager.try(:cn) %></td>
          <td><%= e.department.try(:name) %></td>
          <td><%= e.location.try(:name) %></td>
          <td><%= e.job_title.try(:name) %></td>
          <td><%= e.hire_date.strftime("%m/%d/%Y") if e.hire_date.present? %></td>
          <td><%= e.contract_end_date.strftime("%m/%d/%Y") if e.contract_end_date.present? %></td>
          <td><%= e.termination_date.strftime("%m/%d/%Y") if e.termination_date.present? %></td>
          <td><%= e.leave_start_date.strftime("%m/%d/%Y") if e.leave_start_date.present? %></td>
          <td><%= e.leave_return_date.strftime("%m/%d/%Y") if e.leave_return_date.present? %></td>
          <td><%= e.ad_updated_at %></td>
        </tr>
      <% end %>
    </tbody>
    <% if @employees.blank? %>
      <tbody>
        <tr>
          <td colspan="14">No results found.</td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
