<!-- Employee Header -->
<div class="row">
  <div class="columns callout primary">
    <div class="row">
      <div class="columns large-8">
        <h3><%= @employee.first_name %> <%= @employee.last_name %></h3>
        <h4>Employee Status: <%= @employee.status.titleize %></h4>
      </div>
      <div class="columns large-4 float-right">
        <!-- Status with links to forms -->
        <% if can? :direct_reports, @employee %>
          <%= render partial: "employee_form_link", locals: { e: @employee } %>
        <!-- View status only -->
        <% else %>
          <%= render partial: "employee_form_status", locals: { e: @employee } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Main Section -->
<div class="row">
  <!-- Employee Info Section -->
  <div class="columns large-8">
    <!-- Employee Tabs -->
    <div class="row">
      <ul class="tabs" role="tablist" data-active-collapse="true" data-tabs id="employee-info">
        <li class="tabs-title is-active" role="presentation">
          <a href="#basic-info" role="tab" aria-controls="basic-info" id="basic-info-label">Basic Info</a>
        </li>
        <li class="tabs-title" role="presentation">
          <a href="#contact-info" role="tab" aria-controls="contact-info" id="contact-info-label">Contact and Username Info</a>
        </li>
        <li class="tabs-title" role="presentation">
          <a href="#important-dates" role="tab" aria-controls="important-dates" id="important-dates-label">Important Dates</a>
        </li>
        <li class="tabs-title" role="presentation">
          <a href="#security-profiles" role="tab" aria-controls="security-profiles" id="security-profiles-label">Security Profiles</a>
        </li>
      </ul>
    </div>

    <!-- Tab Content -->
    <div class="tabs-content row" data-tabs-content="employee-info">
      <!-- Basic Info Tab Content -->
      <div class="tabs-panel is-active" id="basic-info">
        <div class="large-8 medium-6 small-2 columns float-left">
          <h4>Current Position</h4>
          <%= render partial: "employee_profile", locals: { p: @employee.current_profile } %>
          <hr>

          <% if @employee.profiles.pending.present? %>
            <h4>Pending Position</h4>
            <%= render partial: "employee_profile", locals: { p: @employee.profiles.pending.last } %>
            <hr>
          <% end %>

          <% if @employee.profiles.terminated.present? %>
            <h4>Former Positions</h4>
            <% @employee.profiles.terminated.each do |p| %>
              <%= render partial: "employee_profile", locals: { p: p } %>
            <% end %>
          <% end %>

          <% if (@employee.direct_reports.count > 0) && (can? :direct_reports, @employee) %>
            <%= link_to "Manage Direct Reports", direct_reports_employee_path(@employee.id), class: "button" %>
          <% end %>

          <!-- Start admin info section -->
          <% if can? :manage, Employee %>
            <div class="callout secondary float-left">
              <p><strong>Admin Only</strong></p>
              <p>
                <strong>Record Created at:</strong>
                <%= @employee.created_at %>
              </p>
              <p>
                <strong>Record Updated at:</strong>
                <%= @employee.updated_at %>
              </p>
              <p>
                <strong>Active Directory Updated at:</strong>
                <%= @employee.ad_updated_at %>
              </p>
            </div>
          <% end %>
        <!-- End admin info section -->
        </div>
      </div>

      <!-- Contact Info Tab Content -->
      <div class="tabs-panel" id="contact-info">
        <p>
          <strong>Email:</strong>
          <%= @employee.email %>
        </p>

        <p>
          <strong>sAMAccountName:</strong>
          <%= @employee.sam_account_name %>
        </p>

        <p>
          <strong>Office Phone:</strong>
          <%= @employee.office_phone %>
        </p>

        <% if can? :manage, Employee %>
          <div class="callout secondary">
            <p><strong>Admin Only</strong></p>
              <%= render partial: "addresses/full", locals: { address: address_for(@employee) } %>
          </div>
        <% end %>
      </div>

      <!-- Important Dates Tab Content -->
      <div class="tabs-panel" id="important-dates">
        <p>
          <strong>Date of Original Hire:</strong>
          <%= l @employee.hire_date, format: :verbose %>
        </p>
        <p>
          <strong>Termination Date:</strong>
          <%= l @employee.termination_date, format: :verbose if @employee.termination_date.present? %>
        </p>
        <p>
          <strong>Contract End Date:</strong>
          <%= l @employee.contract_end_date, format: :verbose if @employee.contract_end_date.present? %>
        </p>
        <p>
          <strong>Leave Start Date:</strong>
          <%= l @employee.leave_start_date, format: :verbose if @employee.leave_start_date.present? %>
        </p>
        <p>
          <strong>Leave Return Date:</strong>
          <%= l @employee.leave_return_date, format: :verbose if @employee.leave_return_date.present? %>
        </p>
      </div>

      <!-- Security Profiles Tab Content -->
      <div class="tabs-panel" id="security-profiles">
        <h3 class="subheader text-left">Active Security Profiles</h3>
        <div class="indent-1">
          <% @employee.active_security_profiles.each do |sp| %>
            <div>
              <%= sp.name %><br>
              <ul>
                <% sp.access_levels.includes(:application).find_each do |al| %>
                  <li class="indent-1"><small><%= al.name %> <%= al.application.name %></small></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
        <% if can? :direct_reports, @employee %>
          <% if @employee.status == "active" %>
            <%= link_to "Update Security Profile",
                  { controller: "emp_transactions",
                  action: "new",
                  kind: "Security Access",
                  employee_id: @employee.id,
                  user_id: current_user.id,
                  reason: "manager" },
                  class: "button expanded" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Activity Feed -->
  <div class="large-4 medium-6 small-2 columns float-right section">

    <!-- Begin trigger email section -->
    <% if (can? :create, Email) && (@employee.status != "terminated") %>
      <div class="callout secondary">
        <div id="email-info"><p>Send Manager Email<span data-tooltip aria-haspopup="true" class="has-tip float-right" data-disable-hover="false" tabindex="1" title="Use this form to immediately resend a form prompt for this employee to their manager.">?</span></p>
        </div>
        <%= render'emails/form', employee: @employee %>
      </div>
    <% end %>

    <h4 class="text-center">Activity Feed</h4>
    <% @activities.each do |activity| %>
      <div class="callout">
        <!-- Employee Change Box -->
        <% if activity.class == EmpDelta %>
          <p>
            <strong>Employee Change</strong><br>
            <%= l activity.created_at, format: :verbose %>
          </p>
          <p>
            <% activity.format_by_key.each do |t| %>
              • <%= t['name'] %> change
                <% if t['before'].present? %>
                  from <%= t['before'] %> to <%= t['after'] %>
                <% end %>
                <br>
            <% end %>
          </p>
        <!-- Employee Transaction Box -->
        <% elsif activity.class == EmpTransaction %>
          <p>
            <strong><%= activity.kind %></strong><br>
            Submitted on <%= l activity.created_at, format: :verbose %> by <%= activity.performed_by %>
          </p>
          <% if activity.security_profiles.present? %>
            <p>
              <span style="color:green">Security Profiles Added</span><br>
              <% activity.security_profiles.each do |sp| %>
                • <%= sp.name %><br>
              <% end %>
            </p>
          <% end %>
          <% if activity.revoked_security_profiles.present? %>
            <p>
              <span style="color:red">Security Profiles Removed</span><br>
              <% activity.revoked_security_profiles.each do |sp| %>
                • <%= sp.name %><br>
              <% end %>
            </p>
          <% end %>
        <% else %>
          <p><%= activity.class %></p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="columns small-12 medium-12 large-12">
    <%= link_to 'Back', employees_path %>
  </div>
</div>
