<p>
  <strong>Name:</strong>
  <%= @parent_org.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @parent_org.code %>
</p>

<p>
  <strong>Departments:</strong>
  <% @parent_org.departments.each do |dept| %>
    <br><%= dept.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_parent_org_path(@parent_org) %> |
<%= link_to 'Back', parent_orgs_path %>
