<%= form_for(@department, html: { class: 'form' } )do |f| %>
  <% if @department.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(@department.errors.count, 'error') %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </div>
  <div class='field'>
    <%= f.label :code %><br>
    <%= f.text_field :code, required: true %>
  </div>
  <div class='field'>
    <%= f.label :parent_org_id %><br>
    <%= f.collection_select :parent_org_id, ParentOrg.all, :id, :name, :include_blank => true %>
  </div>
  <fieldset class='fieldset'>
    <legend>Approvers</legend>
    <div id='approver-designations'>
      <%= f.fields_for :approver_designations do |approver_designation| %>
        <%= render 'approver_designation_fields', f: approver_designation %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add Approver', f, :approver_designations %>
      </div>
    </div>
  </fieldset>
  <div class='actions'>
    <%= link_to 'Back to List', departments_path, class: 'button secondary' %>
    <%= f.submit 'Submit', class: "button" %>
  </div>
<% end %>
