<%= form_for(@department, :html => {:class => "form"} )do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :parent_org_id %><br>
    <%= f.collection_select :parent_org_id, ParentOrg.all, :id, :name, :include_blank => true %>
  </div>
  <div class="actions">
    <%= link_to 'Back to List', departments_path, :class => "button secondary" %>
    <%= f.submit "Submit", :class => "button" %>
  </div>
<% end %>
