<div id='filterrific_results'>
  <table>
    <thead>
      <tr>
        <th><%= filterrific_sorting_link(@filterrific, :name) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :termination_date) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :contract_end_date) %></th>
        <th><%= filterrific_sorting_link(@filterrific, :offboarded_at) %></th>
        <th>Offboard Form</th>
        <th>Manager</th>
        <th>Title</th>
        <th>Department</th>
        <th>Location</th>
        <th>Username</th>
        <th>Employee ID</th>
      </tr>
    </thead>
    <tbody>
      <% offboards.each do |offboard| %>
        <tr>
          <td><%= link_to "#{offboard.cn}", employee_path(offboard) %></td>
          <td><%= offboard.termination_date.try(:strftime, '%Y-%b-%e') %></td>
          <td><%= offboard.contract_end_date.try(:strftime, '%Y-%b-%e') %></td>
          <td><%= offboard.offboarded_at.try(:strftime, '%Y-%b-%e') %></td>
          <td><%= offboard_link(offboard) %></td>
          <td><%= offboard.manager.try(:cn) %></td>
          <td><%= offboard.job_title.name %></td>
          <td><%= offboard.department.name %></td>
          <td><%= offboard.location.name %></td>
          <td><%= offboard.sam_account_name %></td>
          <td><%= offboard.current_profile.adp_employee_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id='new-hire-pagination'>
    <%= paginate @offboards %>
    <%= page_entries_info @offboards %>
  </div>
</div>
