<h1>new hries</h1>
<table>
  <thead>
    <tr>
      <th><%= sort_link 'employees', 'last_name', 'Name' %></th>
      <th>Name</th>
      <th><%= sort_link 'profiles', 'start_date' %></th>
      <th>Start Date</th>
      <th>Onboard Type</th>
      <th>Onboard Submitted</th>
      <th>Manager</th>
      <th>Title</th>
      <th><%= sort_link 'departments', 'name', 'Department' %></th>
      <th><%= sort_link 'location', 'name', 'Location' %></th>

      <th>Username</th>
      <th>Employee ID</th>
    </tr>
  </thead>
  <tbody>
    <% @new_hires.each do |onboard| %>
      <tr>
        <td><%= onboard.employee.cn %></td>
        <td><%= l onboard.start_date, format: :mdy %></td>
        <td>New hire</td>
        <td><%= l onboard_submitted(onboard.employee), format: :mdyhm %></td>
        <td><%= onboard.employee.manager.try(:cn) %></td>
        <td><%= onboard.employee.job_title.name %></td>
        <td><%= onboard.employee.department.name %></td>
        <td><%= onboard.employee.location.name %></td>
        <td><%= onboard.employee.sam_account_name %></td>
        <td><%= onboard.adp_employee_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
