<button class="close-button" data-close aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<h5>Create New Access Level</h5>
<%= form_for(@access_level,
    remote: true,
    html: { :class => "form", :onsubmit => 'return newAccessLevel()' }) do |f| %>

  <% if @access_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@access_level.errors.count, "error") %> prohibited this access_level from being saved:</h2>

      <ul>
      <% @access_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :application_id %><br>
    <%= f.collection_select :application_id, Application.all, :id, :name, { include_blank: 'Select Application' }, required: true %>
  </div>
  <div class="field">
    <%= f.label :ad_security_group %><br>
    <%= f.text_field :ad_security_group %>
  </div>
  <div class="actions" id="add_al_id">
    <%= f.submit "Submit", :class => "button" %>
  </div>
<% end %>
