<%= form_for(@security_profile_entry, 
    :url => @security_profile.persisted? ? security_profile_path(@security_profile) : security_profiles_path, 
    :method => @security_profile.persisted? ? "put": "post", 
    :html => {:class => "form"} ) do |f| %>

  <% if @security_profile_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@security_profile_entry.errors.count, "error") %> prohibited this security_profile_entry from being saved:</h2>
      <ul>
      <% @security_profile_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :departments %><br>
    <%= f.select :department_ids, Department.all.collect {|x| [x.name, x.id]}, {}, :selected => @security_profile.department_ids, :multiple => true %>
  </div>

  <h5>Permissions</h5>
  <div class="callout">
    <div class="field" id="al_ids">
    <%= render :partial => 'update_al_ids', :collection => @security_profile.access_levels, :as => :al_id %>
    </div>
  </div>
  <p><a data-open="getAccessLevel">+ Permission</a></p>
  
  <div class="actions">
    <%= link_to 'Back to List', security_profiles_path, :class => "button secondary" %>
    <%= f.submit "Submit", :class => "button" %>
  </div>
<% end %>

<div class="small reveal" id="getAccessLevel" data-reveal>
  <%= render partial: 'permissions' %>
</div>

<%= link_to 'Create New Access Level', new_access_level_path, data: {:remote => true, :"reveal-id" => "newPermission", :open => "newPermission" }, :class => "button float-left" %>
<div class="reveal" id="newPermission" data-reveal>
  <%= render partial: 'access_level', locals: { access_level: @access_level, security_profile: @security_profile } %>
</div>