<%= form_for(@security_profile_entry, 
    :url => @security_profile.persisted? ? security_profile_path(@security_profile) : security_profiles_path, 
    :method => @security_profile.persisted? ? "put": "post", 
    :html => {:class => "form"} ) do |f| %>

  <% if @security_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@security_profile.errors.count, "error") %> prohibited this security_profile from being saved:</h2>
      <ul>
      <% @security_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :departments %><br>
    <%= f.select :department_ids, Department.all.collect {|x| [x.name, x.id]}, {}, :selected => @security_profile.department_ids, :multiple => true %>
  </div>

  <div class="field" id="al_ids">
  </div>
  
  <div class="actions">
    <%= link_to 'Back to List', security_profiles_path, :class => "button secondary" %>
    <%= f.submit "Submit", :class => "button" %>
  </div>
<% end %>

<div class="field">
  <%= form_tag :access_levels do |g| %>
    <%= collection_select(:access_level, :application_id, Application.all, :id, :name, { prompt: "Select Application"}, {id: 'application_access_level_select'}) %>
    <%= collection_select(:access_level, :name, @al_opts, :id, :name, { prompt: "Select Permission Level"}, {id: 'access_level_name_select'}) %>
  <% end %>
</div>
<button id="add_al_id">Add</button>

<div class="small-11 medium-11 large-11 columns">
  <%= link_to 'Create New Permission', new_access_level_path, data: {:remote => true, :"reveal-id" => "newPermission", :open => "newPermission" }, :class => "button" %>
  <div class="reveal" id="newPermission" data-reveal>
    <%= render partial: 'access_level', locals: { access_level: @access_level, security_profile: @security_profile } %>
  </div>
</div>
