<%= form_for(@machine_bundle, :html => {:class => "form"} ) do |f| %>
  <% if @machine_bundle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@machine_bundle.errors.count, "error") %> prohibited this machine_bundle from being saved:</h2>

      <ul>
      <% @machine_bundle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :departments %><br>
    <%= f.select :department_ids, Department.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
  </div>
  <div class="actions">
    <%= link_to 'Back to List', machine_bundles_path, :class => "button secondary" %>
    <%= f.submit "Submit", :class => "button"%>
  </div>
<% end %>
