<%= form_for(@offboard_command, 
    :url => offboard_commands_path(@offboard_command), 
    :html => {:class => "form"}) do |f| %>
  <% if @offboard_command.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offboard_command.errors.count, "error") %> prohibited this offboard_command from being saved:</h2>

      <ul>
      <% @offboard_command.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :employee_id %>
    <%= f.collection_select :employee_id, Employee.all, :id, :cn %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>