<%= form_for(@location, :html => {:class => "form"}) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, Location::STATUS, { include_blank: true } %>
  </div>
  <div class="field">
    <%= f.label "Type" %><br>
    <%= f.select :kind, Location::KINDS, { include_blank: true } %>
  </div>
  <br>
  <div class="field">
    <h5>Office Address</h5>
    <%= f.fields_for :address do |address_form| %>
      <%= address_form.label :line_1 %>
      <%= address_form.text_field :line_1 %>
      <%= address_form.label :line_2 %>
      <%= address_form.text_field :line_2 %>
      <%= address_form.label :line_3 %>
      <%= address_form.text_field :line_3 %>
      <%= address_form.label :city %>
      <%= address_form.text_field :city %>
      <%= address_form.label "State or Territory" %>
      <%= address_form.text_field :state_territory %>
      <%= address_form.label :country_id %>
      <%= address_form.collection_select(:country_id, Country.all, :id, :name, { include_blank: true }, required: true) %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :timezone %><br>
    <%= f.select :timezone, Location::TIMEZONES, { include_blank: true } %>
  </div>
  <div class="actions">
    <%= link_to 'Back to List', locations_path, :class => "button secondary" %>
    <%= f.submit "Submit", :class => "button"%>
  </div>
<% end %>
