<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @location.code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @location.status %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @location.kind %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @location.timezone %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
