<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @location.code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @location.status %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @location.kind %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @location.timezone %>
</p>

<p>
  <strong>Address:</strong>
  <div style="margin-left:2em">
    <p>
      <strong>Street Address: </strong><%= @location.address.line_1 if @location.address.line_1.present? %><br>
      <%= @location.address.line_2 if @location.address.line_2.present? %><br>
      <%= @location.address.line_3 if @location.address.line_3.present? %>
    </p>
    <p>
      <strong>City: </strong><%= @location.address.city if @location.address.city.present? %>
    </p>
    <p>
      <strong>State or Territory: </strong><%= @location.address.state_territory if @location.address.state_territory.present? %>
    </p>
    <p>
      <strong>Postal Code: </strong><%= @location.address.postal_code if @location.address.postal_code.present? %>
    </p>
    <p>
      <strong>Country: </strong><%= @location.address.country.name if @location.address.country.name.present? %>
    </p>
  </div>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
